.code-container {
  position: absolute;
  top: 0px;         
  right: 0px;   
  /* transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  z-index: 100;
   animation: slideFromRight 0.6s ease forwards;
}

.code-editor-wrapper {
  border: 3px solid black;
  width: 50vw;
  min-width: 500px;
  height: 100vh;
  background-color: #282C34;
  /* overflow: auto; */
  padding: 10px;
}

.code-editor-wrapper .cm-editor.cm-focused {
  outline: none;
}

.code-editor-wrapper .cm-content {
  font-size: 14px;
  font-weight: 500;
}

.code-editor-wrapper .cm-gutter {
  /* background: #f6f8fb; */
}

.code-editor-wrapper .cm-editor {
  /* background: #f6f8fb; */
  width: 100%;
  height: 89vh;
  overflow: auto;
}

.warning-close-wrapper {
  display: flex;
  margin-bottom: 5px;
}

.sql-warning {
  background: #fff6c2;
  border-left: 4px solid #e2b200;
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.close-btn {
  border: none;
  font-size: 20px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #0f172a;
  background-color: #ffffff;
  margin: 10px;
  transition: all 0.2s;
}

.close-btn:hover {
  background-color: #dfdfdf;
}

@keyframes slideFromRight {
  from {
    opacity: 1;
    
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.editor-footer {
  position: absolute;
  bottom: 25px;
  right: 10%;
  z-index: 10;
}

.editor-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
