.code-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: #1b4f8ac9;
  padding: 30px;
}

.code-editor-wrapper {
  background-color: #f6f8fb;
  border-radius: 10px;
  overflow: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 10px;
}

.code-editor-wrapper .cm-editor.cm-focused {
  outline: none;
}

.code-editor-wrapper .cm-content {
  font-size: 14px;
  font-weight: 500;
}

.code-editor-wrapper .cm-gutter {
  background: #f6f8fb;
}

.code-editor-wrapper .cm-editor {
  background: #f6f8fb;
  width: 100%;
  height: 100%;
}

.code-editor-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.code-editor-wrapper::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}

.code-editor-wrapper::-webkit-scrollbar-thumb {
  background: #c8ccd4;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.code-editor-wrapper::-webkit-scrollbar-thumb:hover {
  background: #b0b5be;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 110px;
  background-color: #ffffff;
  color: #05152c;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
  transition: background-color 0.2s;
}

.back-button:hover {
  color: #ffffff;
  background-color: #05152c;
}

/* 
.execute-button {
  position: absolute;
  top: 20px;
  right: 100px;
  background-color: #ffffff;
  color: #05152c;
  border: none;
  border-radius: 8px;
  padding: 14px 28px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.execute-button:hover {
  background-color: #454545;
}

.execute-icon {
  font-size: 12px;
} */

